.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.2s ease;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  animation: scaleIn 0.2s ease;
}

.modal-box h2 {
  font-size: 22px;
  font-weight: 700;
  color: #0b2545;
}

.modal-box input {
  width: 100%;
  background: transparent;
  border: 2px solid #1c355e;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  
  margin-top: 15px;
}

.modal-box input:focus{
    border: 2px solid #1c355e;
outline: none;
}

.modal-box button {
  margin-top: 15px;
  background: #0b2545;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(13,110,253,0.3);
  transition: 0.3s;
  width: 100%;
}

.modal-box button:hover {
    transform: translateY(-2px);
}

.error {
  color: red;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
