.edit-resume-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.edit-resume-btn:hover::after {
  content: "Update resume";
  opacity: 0.7;
  position: absolute;
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  transform: translateY(-20px) translateX(-110px);
}

.edit-resume-btn.success {
  background: transparent;
  border: none;
  color: #22c55e;
}

.edit-resume-btn.error {
  background: transparent;
  border: none;
  color: #ef4444;
}
