.edit-resume-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.edit-resume-btn:hover::after {
  content: "Update resume";
  position: absolute;
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  transform: translateY(-20px) translateX(-110px);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.edit-resume-btn.success {
  background: transparent;
  border: none;
  opacity: 0.7;
}

.edit-resume-btn.error {
  background: transparent;
  border: none;
  opacity: 0.7;
}